*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: #f5f4f2;
}

.product__action_remove {
    background-color: red;
}

.product {
    display: flex;
    gap: 8px;
    width: 217px;
    min-height: 358px;
    border-radius: 24px;
    padding: 12px;
}

.product__picture {
    border-radius: 24px;
    width: 193px;
    height: 168px;
}

.product__price {
    font-size: 24px;
    line-height: 27px;
    font-weight: 500;
}

.product__title {
    font-size: 16px;
    line-height: 19px;
    flex-grow: 1;
}

.product__weight {
    font-size: 16px;
    color: #9E9B98;
}

.product__action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 16px;
    background-color: #F5F4F2;
    cursor: pointer;
}

.product__action-title {
    font-size: 16px;
    line-height: 17px;
}

.main-wrapper {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.header {
    display: flex; 
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    border-bottom: 1px solid #D2D0CC;
    background-color: #f5f4f2;
    padding: 0px 24px 0px 24px;
    align-items: center;
}

.header__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    margin-right: 36px;
    margin-bottom: 6px;
}

.header__address {
    flex-grow: 1;
}

.header__address-action {
    border: 2px solid #D2D0CC;
    width: max-content;
    border-radius: 16px;
    background-color: #FCE000;
    color: #21201F;
    font-weight: 500;
    height: 48px;
    padding: 0 18px;
    display: flex;
    font-size: 16px;
    transition: all 0.2s ease-out;
    align-items: center;
    line-height: 21px;
    justify-content: center;
    cursor: pointer;
}

/* .header__sign-in {
    border: 2px solid #D2D0CC;
    margin: auto;
    border-radius: 16px;
    background-color: #FCE000;
    color: #21201F;
    font-weight: 500;
    padding: 0 18px;
    display: flex;
    position: relative;
    font-size: 16px;
    transition: all 0.2s ease-out;
    align-items: center;
    line-height: 21px;
    justify-content: center;
    cursor: pointer;
} */

.header__address-span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__address-svg {
    top: -1px;
    display: inline-block;
    position: relative;
    margin-right: 2px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.header__section {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.header__language {
    margin-right: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__language-svg {
    width: 24px;
    height: 24px;
}

.header__sign-in {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 18px 26px;
    height: 48px;
    font-weight: 500;
    border-radius: 16px;
    border: 0;
    font-size: 16px;
    line-height: 21px;
    background-color: rgba(92,90,87,0.1);
    color: #21201F;
    cursor: pointer;
}

.content {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    padding: 22px 6px;
    margin: auto;
}

.content::-webkit-scrollbar {
    width: 0;
}

.contant-container {
    justify-content: center;
    padding: 22px 6px;
    margin-left: 10px;
    max-width: 1873px;
    min-width: 1200px;
}

.sidebar-menu {
    width: 232px;
    margin-right: 32px;
    padding: 0px 20px 14px 16px;
    
}

.menu__action {
    width: 100%;
    display: inline-block;
    background: #FFFFFF;
    cursor: pointer;
    padding: 14px 20px 14px 16px;
    border-radius: 16px;
}

.menu__action-span {
    vertical-align: middle;
    font-weight: bold;
}

.sidebar-menu__title {
    margin: 48px 0 8px 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.01em;
}

.RestaurantCategories_back {
    width: 100%;
    display: inline-block;
    background: #FFFFFF;
    font-weight: 500;
    white-space: nowrap;
}

.menu__action-svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.sidebar-menu__item {
    width: 100%;
    cursor: pointer;
    padding: 14px 20px 14px 16px;
    overflow: hidden;
    line-height: 20px;
    border-radius: 16px;
}

.sidebar-menu__item:hover {
    background: #FFFFFF80;
}

.active {
    font-weight: 500;
    background: #fff
}

.preview {
    width: 667px;
    height: 360px;
    display: flex;
    padding: 50px 48px;
    overflow: hidden;
    position: relative;
    border-radius: 36px;
    flex-direction: column;
    justify-content: end;
}

.preview__logo-img {
    width: 100%;
    border-radius: 36px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.preview__logo {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 667px;
    height: 100%;
}

.preview__gradient {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.66;
    position: absolute;
    background: linear-gradient(231.36deg, rgba(26, 0, 0, 0) 35.77%, #1A0000 90.7%);
    border-radius: 36px;
}

.preview__title {
    position: relative;
    padding: 6px;
    color: white;
    z-index: 100;
    margin: -6px;
    font-size: 46px;
    display: -webkit-box;
}

.preview__actions {
    display: flex;
    margin-top: 24px;
}


.preview__actions-delivery {
    display: flex;
    height: 56px;
    min-width: 56px;
    padding: 12px;
    position: relative;
    text-align: left;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 8px;
    border-radius: 16px;
    border: 0;
    padding-right: 18px;
    justify-content: center;
}

.preview__actions-delivery:hover {
    background-color: white;
}

.preview__actions-svg {
    margin-right: 12px;
    width: 32px;
    height: 32px;
}

.preview__actions-title {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.01em;
}

.preview__actions-subtitle {
    opacity: 0.5;
    font-size: 13px;
    line-height: 14px;
}

.preview__actions-rating {
    display: flex;
    height: 56px;
    min-width: 56px;
    padding: 12px;
    position: relative;
    text-align: left;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 8px;
    border-radius: 16px;
    border: 0;
    padding-right: 18px;
    justify-content: center;
}

.preview__actions-rating:hover {
    background-color: white;
}

.preview__actions-information {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    height: 56px;
    min-width: 56px;
    border: 0;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.preview__actions-information:hover {
    background-color: white;
}

.preview__actions-information-svg {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.category {
    padding-top: 36px;
}

.restaurant-informer {
    display: flex;
    align-items: center;
    margin-right: 48px;
    padding-left: 18px;
    height: 72px;
    border-radius: 20px;
    background: #FFFFFF;
}

.invisible {
    display: none;
}

.restaurant-informer__svg {
    width: 36px;
    height: 36px;
}

.restaurant-informer__title {
    padding-left: 18px;
}

.restaurant-informer__delivery {
    display: flex;
    align-items: center;
    margin-right: 48px;
    padding-left: 18px;
    height: 72px;
    border-radius: 20px;
    background: #FFFFFF;
}

.restaurant-informer__delivery-background {
    background: rgb(90, 195, 26);
}

.category__title {
    margin: 26px 0 24px;
    font-size: 20px;
}

.category__products-list {
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 24px;
}

.product {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 24px;
    width: 217px;
    height: 358px;
    margin: 12px 4px;
}

.product__action-svg {
    width: 24px;
    height: 24px;
}

.category__products-list-inner {
    display: flex;
    flex-direction: column;
    width: 217px;
    min-height: 358px;
    border-radius: 24px;
    padding: 12px;
}

.category__products-list-Picture {
    border-radius: 24px;
}

.category__products-listImg {
    border-radius: 24px;
    width: 193px;
    height: 168px;
    
}

.category__products-list-description {
    padding: 0 4px;
    margin-top: 14px;
}

.category__products-list-price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.category__products-list-numberPrice {
    margin-right: 4px;
    font-size: 24px;
}

.category__products-list-name {
    height: 38px;
    overflow: hidden;
    font-size: 16px;
    margin-top: 4px;
    line-height: 19px;
    text-overflow: ellipsis;
}

.category__products-list-weight {
    color: #9E9B98;
    margin: 5px 0;
    font-size: 16px;
}

.category__products-list-button {
    height: 48px;
    margin-top: auto;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 17px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    align-items: center;
    font-family: sans-serif;
    line-height: 14px;
    white-space: nowrap;
    border-radius: 16px;
    justify-content: space-between;
    background-color: #F5F4F2;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.category__products-list-buttonAdd {
    padding: 14px;
    width: 100%;
    height: 100%;
    justify-content: center;
    color: #21201F;
    border: none;
    cursor: pointer;
    display: flex;
    min-width: 24px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.category__products-list-button-svg {
    margin: -4px;
    z-index: 1;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.category__products-list-buttonSpan {
    margin-left: 8px;
}

.sidebar-right {
    position: sticky;
    top: 0px;
    width: 320px;
    margin-left: 32px;
    margin-bottom: -22px;
}

.cart {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    border-radius: 24px 24px 0 0;
    background: #FFFFFF;
}

.cart__title {
    padding: 16px;
    margin-top: 4px;
    line-height: 27px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.cart__empty-block {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart__empty-block-img {
    margin-bottom: 24px;
    text-align: center;
    color: #21201F;
}

.cart__empty-block_logo {
    margin-bottom: 24px;
}

.cart-footer {
    display: flex;
    align-items: center;
    font-weight: normal;
    line-height: 15px;
    padding: 16px 4px 8px 0px;
    margin: 0 16px 24px;
    border-top: 0.5px solid rgba(138,135,132,0.4);
    padding-bottom: 8px;
    cursor: pointer;
}

.cart-footer__bottom-img {
    width: 48px;
    height: 48px;
    background: #F5F4F2 center / 24px no-repeat;
    margin-right: 8px;
    border-radius: 16px;
    flex-shrink: 0;
}

.cart-footer__banner {
    display: flex;
    align-items: center;
    font-weight: normal;
    line-height: 15px;
    padding-right: 4px;
    padding-bottom: 8px;
}

.cart__footer-info {
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    padding-right: 4px;
}

.cart__footer-info-title {
    color: rgb(90, 195, 26);
}

.cart__footer-info-subtitle {
    color: rgb(158, 155, 152);
}

.cart__footer-info-svg {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    flex-shrink: 0;
    vertical-align: middle;
}