*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f4f2;
}

.header {
    display: flex; 
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #D2D0CC;
    background-color: #f5f4f2;
    padding: 0px 24px 0px 24px;
    justify-content: space-between;
}

.header-leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-leftSide__logo {
    margin-right: 36px;
    margin-bottom: 6px;
}

.header-leftSide__address-button {
    border: 2px solid #D2D0CC;
    margin: auto;
    border-radius: 16px;
    color: #21201F;
    font-weight: 500;
    background-color: #FCE000;
    height: 48px;
    padding: 0 18px;
    display: flex;
    position: relative;
    font-size: 16px;
    transition: all 0.2s ease-out;
    align-items: center;
    line-height: 21px;
    justify-content: center;
    cursor: pointer;
}

.header-leftSide__address-span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-leftSide__address-icon {
    top: -1px;
    display: inline-block;
    position: relative;
    margin-right: 2px;
    vertical-align: middle;
}

.header-rightSide {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.header-rightSide__changeLanguage {
    margin-right: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-rightSide__changeLanguage-svg {
    width: 24px;
    height: 24px;
}

.header-rightSide__login-button {
    padding: 13px 26px 18px 26px;
    font-weight: 500;
    border-radius: 16px;
    border: 0;
    font-size: 16px;
    line-height: 21px;
    background-color: rgba(92,90,87,0.1);
    color: #21201F;
    display: inline-flex;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: .2s ease-out;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.contant-container {
    display: flex;
    justify-content: center;
    padding: 22px 6px;
    margin-left: 10px;
    max-width: 1873px;
    min-width: 1200px;
}

.aside-leftSide {
    width: 232px;
    margin-right: 32px;
    margin-top: 90px;
    padding: 0px 20px 14px 16px;
    
}

.aside-leftSide__buttonBack {
    width: 100%;
    display: inline-block;
    background: #FFFFFF;
    cursor: pointer;
    padding: 14px 20px 14px 16px;
    border-radius: 16px;
}

.aside-leftSide__buttonBack-span {
    vertical-align: middle;
    font-weight: bold;
}

.aside-leftSide__title {
    margin: 48px 0 8px 16px;
    font-weight: 200;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.01em;
}

.RestaurantCategories_back {
    width: 100%;
    display: inline-block;
    background: #FFFFFF;
    font-weight: 500;
    white-space: nowrap;
}

.aside-leftSide__buttonBack-svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;

}

.aside-leftSide__items {
    width: 100%;
    cursor: pointer;
    padding: 14px 20px 14px 16px;
    overflow: hidden;
    line-height: 20px;
    border-radius: 16px;
}

.item {
    font-weight: bold;
    background: #fff
}

.main-centralBlock {
    margin-top: 90px;
}

.centralBlockHighline {
    width: 100%;
    height: 360px;
    display: flex;
    padding: 50px 48px;
    overflow: hidden;
    position: relative;
    border-radius: 36px;
    flex-direction: column;
    justify-content: end;
}

.centralBlockHighline-headPicture {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

}

.centralBlockHighline__gradient {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.66;
    position: absolute;
    background: linear-gradient(231.36deg, rgba(26, 0, 0, 0) 35.77%, #1A0000 90.7%);
    border-radius: 36px;
}

.centralBlockHighline__title {
    position: relative;
    padding: 6px;
    color: white;
    z-index: 100;
    margin: -6px;
    font-size: 46px;
    display: -webkit-box;
}

.centralBlockHighline__actions {
    display: flex;
    margin-top: 24px;
}


.centralBlockHighline__actions-deliveryButton {
    display: flex;
    height: 56px;
    min-width: 56px;
    padding: 12px;
    position: relative;
    text-align: left;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 8px;
    border-radius: 16px;
    border: 0;
    padding-right: 18px;
    justify-content: center;
}

.centralBlockHighline__actions-deliveryButton:hover {
    background-color: white;
}

.centralBlockHighline__actions-deliveryButton-svg {
    margin-right: 12px;
    width: 32px;
    height: 32px;
}

.centralBlockHighline__actions-deliveryButton-title {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.01em;
}

.centralBlockHighline__actions-deliveryButton-subtitle {
    opacity: 0.5;
    font-size: 13px;
    line-height: 14px;
}

.centralBlockHighline__actions-ratingButton {
    display: flex;
    height: 56px;
    min-width: 56px;
    padding: 12px;
    position: relative;
    text-align: left;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 8px;
    border-radius: 16px;
    border: 0;
    padding-right: 18px;
    justify-content: center;
}

.centralBlockHighline__actions-ratingButton:hover {
    background-color: white;
}

.centralBlockHighline__actions-ratingButton-svg {
    margin-right: 12px;
    width: 32px;
    height: 32px;
}

.centralBlockHighline__actions-infromationButton {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    height: 56px;
    min-width: 56px;
    border: 0;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.centralBlockHighline__actions-infromationButton:hover {
    background-color: white;
}

.centralBlockHighline__actions-infromationButtonSvg {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.centralBlockHighline-image {
    width: 667px;
    height: 360px;
    border-radius: 36px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    height: 100%;
    position: absolute;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

.main-items__title {
    margin: 26px 0 24px;
    font-size: 20px;
}

.main-items__list {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: -12px -4px;
    border-radius: 24px;
}

.main-items__list-container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 24px;
    width: 217px;
    height: 358px;
    margin: 12px 4px;
}

.main-items__list-inner {
    display: flex;
    flex-direction: column;
    width: 217px;
    min-height: 358px;
    border-radius: 24px;
    padding: 12px;
}

.main-items__list-Picture {
    border-radius: 24px;
}

.main-items__listImg {
    border-radius: 24px;
    width: 193px;
    height: 168px;
    
}

.main-items__list-description {
    padding: 0 4px;
    margin-top: 14px;
}

.main-items__list-price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.main-items__list-numberPrice {
    margin-right: 4px;
    font-size: 24px;
}

.main-items__list-name {
    height: 38px;
    overflow: hidden;
    font-size: 16px;
    margin-top: 4px;
    line-height: 19px;
    text-overflow: ellipsis;
}

.main-items__list-weight {
    color: #9E9B98;
    margin: 5px 0;
    font-size: 16px;
}

.main-items__list-button {
    height: 48px;
    margin-top: auto;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 17px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    align-items: center;
    font-family: sans-serif;
    line-height: 14px;
    white-space: nowrap;
    border-radius: 16px;
    justify-content: space-between;
    background-color: #F5F4F2;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.main-items__list-buttonAdd {
    padding: 14px;
    width: 100%;
    height: 100%;
    justify-content: center;
    color: #21201F;
    border: none;
    cursor: pointer;
    display: flex;
    min-width: 24px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.main-items__list-button-svg {
    margin: -4px;
    z-index: 1;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.main-items__list-buttonSpan {
    margin-left: 8px;
}

.aside-rightSide {
    width: 320px;
    height: calc(100vh - 102px);
    top: 112px;
    position: sticky;
    margin-left: 32px;
    margin-bottom: -22px;
    border-radius: 24px 24px 0 0;
}

.aside-rightSide-newCart {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
    background: #FFFFFF;
}

.aside-rightSide-title {
    padding: 16px;
    margin-top: 4px;
    align-items: center;
    justify-content: space-between;
    line-height: 27px;
    font-size: 16px;
    font-weight: 700;
}

.newCartEmpty {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newCartEmpty_img {
    margin-bottom: 24px;
}

.newCartEmpty_img {
    text-align: center;
    color: #21201F;
}

.newCartEmpty_logo {
    margin-bottom: 24px;
}

.newCartFooter {
    padding-top: 16px;
    margin: 0 16px 24px;
    border-top: 0.5px solid rgba(138,135,132,0.4);
    padding-bottom: 8px;
    cursor: pointer;
}

.NewCartFooterBottomBanner_icon {
    width: 48px;
    height: 48px;
    background: #F5F4F2 center / 24px no-repeat;
    margin-right: 8px;
    border-radius: 16px;
    flex-shrink: 0;
}

.newCartFooter_banner {
    display: flex;
    align-items: center;
    font-weight: normal;
    line-height: 15px;
    padding-right: 4px;
    padding-bottom: 8px;
}

.newCartFooter_banner-info {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 15px;
    padding-right: 4px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}